<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlockTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFFEF2241BDB3909009DA5E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFFEF23D1BDB390A009DA5E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFFEF2481BDB390A009DA5E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
